<h1>{{ title }}</h1>

<p class="lede">An example of an accessible form</p>

<form class="form" action="#">
    <h2>About you</h2>

    <p>* required field</p>
    <p>
        <label for="first-name">First name</label>
        <input id="first-name" type="text" />
    </p>
    <p>
        <label for="email">Email address *
            <span class="u-visuallyHidden">required</span>
        </label>
        <input id="email" type="email" />
    </p>
    <p>
        <label for="password">Password *
            <span class="u-visuallyHidden">required</span>
        </label>
        <input id="password" type="password" required="required"
               aria-required="true" aria-describedby="first-name-hint"/>
        <span class="form-hint" id="first-name-hint">At least 8 characters</span>
    </p>

    <fieldset>
        <legend aria-describedby="dob-hint">Date of birth</legend>
        <p>
            <label for="day" class="u-visuallyhidden">Day</label>
            <select id="day">
                <option value="Day">Day</option>
                <!-- Other options go here -->
            </select>
        </p>
        <p>
            <label for="month" class="u-visuallyhidden">Month</label>
            <select id="month">
                <option value="Month">Month</option>
                <!-- Other options go here -->
            </select>
        </p>
        <p>
            <label for="year" class="u-visuallyhidden">Year</label>
            <select id="year">
                <option value="Year">Year</option>
                <!-- Other options go here -->
            </select>
        </p>
        <p id="dob-hint">So we can provide you with age-related advice</p>
    </fieldset>
    <p>
        <input id="newsletter" type="checkbox" name="newsletter" value="1">
        <label for="newsletter">I wish to subscribe to the free newsletter</label>
    </p>

    <input class="button" type="submit" value="Submit">

</form>