body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.masthead {
  padding: 10px;
  background: #ddd;
}

.footer {
  padding: 10px;
  background: #ddd;
  min-height: 200px;
  margin-top: 20px;
}

.panel {
  padding: 10px;
  background: #fcfcfc;
  border: 1px solid #ddd;
}